[Desktop Entry]
Encoding=UTF-8
Name=TheoremCoin
Comment=TheoremCoin P2P Cryptocurrency
Comment[fr]=TheoremCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=TheoremCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/theoremcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/theoremcoin;
Categories=Office;
